<!DOCTYPE html>
<html
        lang="en"
        class="light-style customizer-hide"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <% include ../common/ejs/head.ejs %>
    <link rel="stylesheet" href="/assets/vendor/css/pages/page-auth.css" />
</head>

<body>
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y" id="app">
        <Login/>
    </div>
</div>

<% include ../common/ejs/javascripts.ejs %>
<script src="/assets/js/login.js"></script>
</body>
</html>
